<p id="notice"><%= notice %></p>
<br> <div class="col-md-6">
<div class="panel panel-primary">
  <div class="panel-heading">
    LISTING PERIPHERALS
  </div>
  <div class="panel-body">
    <div class="dataTable_wrapper">
      <table class="table table-striped table-bordered table-hover" id="datatable">
        <thead>
          <tr role="row">
            <th>Name</th>
            <th> Action</th>
          </tr>
        </thead>
        <tbody>
          <% @peripherals.each do |peripheral| %>
          <tr>
            <td><%= peripheral.name %></td>
            <td><%= link_to 'Show', peripheral, :class =>"btn btn-large btn-default" %>
              <%= link_to 'Edit', edit_peripheral_path(peripheral), :class =>"btn btn-large btn-default" %>
              <%= link_to 'Destroy', peripheral, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-large btn-default" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%=  link_to 'New Peripheral', new_peripheral_path, :class =>"btn btn-large btn-default"%>
      <%= link_to 'Back', root_path, :class =>"btn btn-large btn-default"%>
    </div>
  </div>
</div>
